name: picolo
description: "Zero-dependency customizable dialog picker widget for Flutter application."
version: 1.2.0
repository: https://github.com/tomergroisman/picolo.git

environment:
  sdk: '>=3.2.1 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  dlcov: ^4.2.1
  mockito: ^5.4.3
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:

scripts:
  coverage:
    test: flutter test --coverage
    only: flutter test --tags only --coverage
    generate: genhtml coverage/lcov.info -o coverage/html & derry coverage open
    open: open coverage/html/index.html
